<mat-horizontal-stepper linear #stepper>
  <mat-step [stepControl]="EmailPassword" errorMessage="Email and Password is Required">
    <form [formGroup]="EmailPassword">
      <ng-template matStepLabel>Email and Password</ng-template>
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="email" type="email" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password" formControlName="password" type="password" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext (click)="register()">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="AdditionalInfo" errorMessage="Firstname and Lastname is required">
    <form [formGroup]="AdditionalInfo">
      <ng-template matStepLabel>Enter additional information</ng-template>
      <mat-form-field>
        <input matInput placeholder="Firstname" formControlName="firstname" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Lirstname" formControlName="lastname" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext (click)="assignInfo()">Register</button>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>