<button (click)="toggleEditMode()">Edit</button>
<div *ngIf="!editMode">
    <mat-card>
        <p>{{ title }}</p>
        <p>{{ content }}</p>
        <p>{{ dateAdded }}</p>
        <p>{{ location }}</p>
        <p>{{ salary }}</p>
        <p>{{ type }}</p>
        <button (click)="backToAdmin()">Back</button>
    </mat-card>
</div>
<div *ngIf="editMode">
    <mat-card>
        <h4>Edit Mode</h4>
        <form class="example-form">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="title" name="title" [(ngModel)]="title"  type="text" required>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <textarea matInput placeholder="Content" name="content" [(ngModel)]="content" required></textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Date added" name="dateAdded" [(ngModel)]="dateAdded" type="text" required>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Location" name="location" [(ngModel)]="location" type="text" required>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Salary" name="salary" [(ngModel)]="salary" type="text" required>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Job Type" name="jobType" [(ngModel)]="jobType" type="text" required>
            </mat-form-field>
            <div class="">
                <button (click)="editJob()">Save Changes</button>
            </div>
        </form>
        <button (click)="toggleEditMode()">Cancel edit</button>
    </mat-card>
</div>
